:root{
    --color-dark:rgba(167, 177, 188, 1);
    --color-light:rgba(255, 255, 255, 1);
    --bgcolor-dark:rgba(28, 33, 39, 1);
    --font-family:'Satoshi';
    --color-green:rgba(0, 192, 118, 1);
    --color-divider:rgba(234, 240, 254, 0.04);
    --color-border:rgba(38, 41, 50, 1);
    --bgcolor-light:rgba(32, 37, 43, 1)
}


.nav__left-text {
    color: var(--color-dark);
    cursor: pointer;
}

.nav__left-text:hover {
    color: var(--color-light);
}