.orderbook__options-panel {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    font-family: var(--font-family);
    background-color: rgba(0, 0, 0, 0.16);
    color: var(--color-light);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}