.buy-sell__options-panel {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    font-family: var(--font-family);
    background-color: rgba(0, 0, 0, 0.16);
    color: var(--color-light);
    justify-content: space-between;
    align-items: center;
}
.buy-sell__divider{
 
    border: .1px solid var(--color-divider);
    margin: 15px;
  }
.buy-sell__options-item {
    flex: 1;
    text-align: center;
    color: rgba(167, 177, 188, 1);
}

.buy-sell__options-item--buy {
    background-color: var(--bgcolor-dark);
    border: 1px solid var(--color-border);
    padding: 5px;
    border-radius: 8px;
    color: var(--color-light);
    border: 1px solid rgba(37, 194, 110, 1);
}
/* buy sell options panel */

/* buy sell limit options panel */
.buy-sell__limit-options {
    display: flex;
    justify-content: space-between;
    color: rgba(119, 126, 144, 1);
    font-family: var(--font-family);
    margin: 15px;
    padding: 10px;
    align-items: center;
    font-weight: 500;
}

.buy-sell__limit-option {
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.buy-sell__limit-option--limit {
    color: var(--color-light)!important;
    background-color: rgba(53, 57, 69, 1);
    border-radius: 100px;
    padding: 6px 40px;
}
/* buy sell limit options panel */

/* buy sell input panels */
.buy-sell__input-panel {
    padding: 10px;
    margin: 15px;
    font-family: var(--font-family);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buy-sell__input {
    border: 1px solid rgba(55, 59, 63, 1);
    display: flex;
    justify-content: space-between;
    padding: 13px 16px;
    border-radius: 8px;
    align-items: center;
}

.buy-sell__input-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.buy-sell__label-icon {
    margin-top: 3px;
}

input {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: var(--color-dark);
    text-align: right;
}

input::placeholder {
    color: var(--color-dark);
}

input:focus {
    outline: none;
}

.buy-sell__type-options {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* buy sell input panels */

/* checkbox */
.buy-sell__checkbox {
    display: flex;
    align-items: center;
    margin: 15px;
    gap: 10px;
    margin-top: 20px;
}

.buy-sell__checkbox-image {
    background-color: rgba(39, 100, 255, 1);
    border-radius: 4px;
}

.buy-sell__checkbox-post {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: var(--color-dark);
    font-family: var(--font-family);
}
/* checkbox */

/* total */
.buy-sell__total {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    color: var(--color-dark);
    align-items: center;
    margin: 15px;
}
/* total */

.buy-sell__btn {
    display: block;
    width: 95%;
    background: linear-gradient(90deg, #483BEB 0%, #7847E1 47.92%, #DD568D 96.35%);
    color: white;
    border: none;
    padding: 18px;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-family: var(--font-family);
    cursor: pointer;
}

/* values panel */
.values-panel {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--font-family);
}

.values-panel__top {
    display: flex;
    justify-content: space-between;
}




.values-panel__top-right {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    align-self: flex-start;
    color: var(--color-dark);
    font-family: var(--font-family);
}

.values-panel__bottom {
    display: flex;
    gap: 150px;
}

.btn--deposit{
    background-color: rgba(39, 100, 255, 1);
    font-family: 'Satoshi';
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    width: 80px;
    height: 40px;
    padding: 8px;
    border: none;
    cursor: pointer;
}